{% extends "base.html" %}

{% block title %} Edit Post {% endblock %}

{% block content %}

<h1>Edit Post</h1>
<form id="edit-post" action="/posts/{{post.id}}/edit" method="POST">
  <div> 
      <label for="title">Title</label>
      <input value="{{post.title}}" required type="text" name="title" id="title">
  </div>
  <div>
      <label for="content">Post Content</label>
      <textarea value="{{post.content}}" required name="content" id="content" rows="4" cols="50"></textarea>
  </div>
  <button class="btn btn-info" formaction="/users/{{post.user_id}}" formmethod="GET">Cancel</button>
  <button type="submit" class="btn btn-success">Edit</button>
</form>

{% endblock %}